@charset "UTF-8";
@import "normalize.scss";

/* base▼
========================================================================== */
ul{
	list-style: none;
	padding-left: 0;
}
/* base▲
========================================================================== */

/* ヘッダー▼
========================================================================== */
.top-header{
	max-width: 1200px;
	margin: auto;
	.lang-nav{
			display: flex;
			justify-content: flex-end;
			font-size: 
	}
}

/* ヘッダー▲
========================================================================== */
/* メイン▼
========================================================================== */

/* メイン▲
========================================================================== */
/* フッター▼
========================================================================== */

/* フッター▲
========================================================================== */
